.site-btn {
    position: relative !important;
    min-width: 80px;
    display: inline-block;
    padding: 5px 10px;
    color: white !important;
    background-color: #938585;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 5px;
}

.site-btn:hover {
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}

.site-tag {
    position: absolute;
    top: -15px;
    right: 0;
    background-color: #ffc107;
    color: #333;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
}
