.cover {
    min-height: 350px !important;
    overflow: hidden !important;
    padding-top: 142% !important;
}

.cover img {
    object-fit: cover !important;
    object-position: 100% 50% !important; /*__OBJECT_POSITION__*/
}

/* bus的 */
.masonry .movie-box img {
    min-height: 500px !important;
    object-fit: cover !important;
    object-position: top right;
}
