.js-tooltip {
    /* 通用样式 */
    position: fixed;
    padding: 8px 12px;
    border-radius: 6px;
    white-space: normal;
    max-width: 600px;
    pointer-events: none;
    font-size: 14px;
    line-height: 1.5;
    z-index: var(--jhs-z-top);
    background: #f0fdf4;
    color: #166534;
    border: none;
    box-shadow: 0 6px 20px rgb(0, 0, 0, 0.3);
    display: none;
}

.js-tooltip.is-active {
    display: block !important;
}
